* {
    margin: 0;
    padding: 0;
}

#app {
    /*background: url("src/maxresdefault.jpg");*/
    background: #cacaca;
    height: 720px;
    width: 1280px;
}

#object {
    /*background: url("src/char.png");*/
    background: black;
    height: 50px;
    width: 50px;
}