*{
    margin: 0;
}
main{
    overflow: hidden;
    width: 800px;
    height: 600px;
    border: 2px solid #000000;
    position: relative;
}
.map{
    width: 1024px;
    height: 1080px;
    position: absolute;
    background: url("../img/map/maxresdefault (1).jpg");
}
.player{
    background: url("../img/player/tarelka.gif");
    background-size: contain;
    /*width: 30px;*/
    /*height: 30px;*/
    /*top: 35px;*/
    /*left: 35px;*/
    position: relative;
}