.back {
    background: url('http://smolbattle.ru/data/attachments/585/585610-e0fef0d55ff5af567b0d89d38b6aaad6.jpg');
    height: 675px;
    width: 1016px;
    background-attachment: fixed;
}
.fly{
    position: absolute;
    width: 300px;
    height: 200px;
    /* background: #fdf; */
    background: url('http://smolbattle.ru/data/attachments/585/585610-e0fef0d55ff5af567b0d89d38b6aaad6.jpg');
    background-attachment: fixed;
    animation: flying 5s infinite ease-in-out alternate;
}
@keyframes flying {
    from {
        left: 50px;
        top: 50px;
        /* box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.3); */
    }
    to {
        left: 300px;
        top: 300px;
        /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3); */
    }
}
